//-
  ---
  title: HOME
  at: home
  ---

extend ../layouts/default

block body
  .segment
    .wrapper
      p.pull Email: #[a(href='mailto:info@dubnix.io') info@dubnix.io]
      p.pull Soundcloud: #[a(href='//soundcloud.com/dubnix') soundcloud.com/dubnix]
