//-
  ---
  title: ABOUT
  at: about
  ---

extend ../layouts/default

block body
  .segment
    .wrapper
      p.pull Started around Jun-2010 at México City, from the south-eastern side of the city.
      p.pull Carlos Wise and Alvaro (pate) coined the name "DUB*NIX" which is the result of gluing together dub and *nix systems.
      p.pull Also, being from less resources didn't stopped them from building a homegrown sound system. Today the project is still alive and it's going better!
      p.pull Follow us at: #[a(href='//soundcloud.com/dubnix') Soundcloud], #[a(href='//facebook.com/dubnix') Facebook], #[a(href='//instagram.com/dubnix') Instagram] and #[a(href='//twitter.com/dubnix') Twitter]!

      blockquote
        p.pull &ldquo;Our main concern was, and still it is, focus on Open Source technologies and free software. Do it yourself!&rdquo;
