//-
  ---
  url: /our-music
  ---

extend _layouts/default

block body
  .segment
    .wrapper
      dl
        dt: h5 Contact
        dd: a(href='mailto:info@dubnix.io') info@dubnix.io

      dl
        dt: h5 Soundcloud
        dd: a(href='//soundcloud.com/dubnix') soundcloud.com/dubnix
