//-
  ---
  at: music
  ---

extend ../_layouts/default

block body
  .segment
    .wrapper
      h2.pull Our music
      p.pull Email: #[a(href='mailto:info@dubnix.io') info@dubnix.io]
      p.pull Soundcloud: #[a(href='//soundcloud.com/dubnix') soundcloud.com/dubnix]
