//-
  ---
  at: music
  music:
  - label: Classics
    tracks:
    - title: Chord
      url: audio/dubnix_classics_chord.mp3
    - title: Human being
      url: audio/dubnix_classics_human-being.mp3
    - title: Musical riot
      url: audio/dubnix_classics_musical-riot.mp3
  - label: Renewal
    tracks:
    - title: Long terms
      url: audio/dubnix_renewal_longterms_pre.mp3
    - title: Risky conditions
      url: audio/dubnix_renewal_risky-conditions.mp3
    - title: Trailing acts
      url: audio/dubnix_renewal_trailing-acts.mp3
    - title: Western dread
      url: audio/dubnix_renewal_western-dread.mp3
  - label: Reboot
    tracks:
    - title: Melodical
      url: audio/dubnix_reboot_melodical_pre.mp3
  ---

extend ../_layouts/default

block body
  .segment
    .wrapper
      each group in music
        h3.pull= group.label
        each track in group.tracks
          a.btn.none(href=track.url data-is-music=track.title) <@svg "music">#[span= track.title]
