//-
  ---
  url: /who-we-are
  ---

extend _layouts/default

block body
  .segment
    .wrapper
      p El proyecto se origina cerca de junio del 2010, unos meses después de comenzar a estudiar la técnica y teoría musical detrás del sonido DUB.
      p Usuarios de software libre, optaron por emplear alguna solución libre para la producción digital del sonido. En ese entonces ya existían controladores baratos que fueran compatibles con Linux.
      p Pero no sólo se trataba de la plataforma digital, el sistema de sonido era requerido para poder iniciar esta empresa.
      p Siguiendo la filosofía DIY decidieron completar las piezas de lo que fuera su primer sistema de sonido, con el objetivo de hacer bailar a la audiencia con sus propios diseños rítmicos y melodías.
      p Hoy en día siguen desarrollando un sonido propio mientras descubren nuevas técnicas para implementar en su arquitectura musical, finalmente ellos han conseguido crear DUB digitalmente usando Linux, de ahí el *nix en su nombre.
      p En los próximos años se visualizan usando más y mejor hardware, un nuevo sistema de sonido y desde luego, seguirán firmes en su filosofía OpenSource/DIY.
